/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

a {
  text-decoration: none;
}

body {
  color: #fff;
}
body section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw 15vw;
}
body section .poster {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body section .poster > div {
  cursor: pointer;
  width: 18vw;
  height: 50vh;
  transition: all 1s;
}
body section .poster > div:nth-of-type(1) {
  background: url("../img/COMMON/interstellar.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body section .poster > div:nth-of-type(2) {
  background: url("../img/COMMON/spider.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body section .poster > div:nth-of-type(3) {
  background: url("../img/COMMON/blue.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body section .poster > div:hover {
  transform: scale(1.2);
}

.header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 100;
}
.header:hover .header_logo {
  transform: translateY(0vh);
  opacity: 1;
}
.header:hover .header_circle01,
.header:hover .header_circle02 {
  transform: translateY(0vh);
  opacity: 1;
}
.header:hover .header_menu {
  transform: translateY(0vh);
  opacity: 1;
}
.header .header_logo {
  font: 300 1.5vw/5 "Bodoni Moda";
  position: absolute;
  left: 7vw;
  cursor: pointer;
  transition: all 1s;
  transform: translateY(-10vh);
  opacity: 0;
}
.header .header_circle01 {
  font: 300 1.5vw/5 "Bodoni Moda";
  position: absolute;
  left: 47.2vw;
  cursor: pointer;
  transition: all 1s;
  transform: translateY(-10vh);
  opacity: 0;
  color: white;
}
.header .header_circle01 > a:visited {
  color: white;
}
.header .header_circle02 {
  font: 300 1.5vw/5 "Bodoni Moda";
  position: absolute;
  right: 47.2vw;
  cursor: pointer;
  transition: all 1s;
  transform: translateY(-10vh);
  opacity: 0;
  color: white;
}
.header .header_circle02 > a:visited {
  color: white;
}
.header .header_menu {
  font: 300 1.5vw/5 "Bodoni Moda";
  position: absolute;
  right: 7vw;
  cursor: pointer;
  transition: all 1s;
  transform: translateY(-10vh);
  opacity: 0;
}

.header_opened {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: url("../img/HS/background.gif");
  display: none;
  color: #fff;
  z-index: 100;
}
.header_opened .header_item01 {
  width: 80vw;
  margin: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_opened .header_item01 a {
  margin-bottom: 10vh;
  transition: all 0.4s;
  text-align: left;
  color: rgba(255, 255, 255, 0.807);
}
.header_opened .header_item01 a:visited {
  color: #fff;
}
.header_opened .header_item01 a:nth-of-type(1) {
  font: 900 12vh/1 "Bodoni Moda";
  letter-spacing: 3px;
}
.header_opened .header_item01 a:nth-of-type(2) {
  font: 900 9vh/1 "Rock Salt";
}
.header_opened .header_item01 a:nth-of-type(3) {
  font: 900 12vh/1 "Nuosu SIL";
}
.header_opened .header_item01 a:hover {
  letter-spacing: -1px;
  color: #fff;
}

video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
}

/*# sourceMappingURL=index.css.map */
